.navbar {
  background-color: #000; }
  .navbar .nav-item {
    padding-left: 1em; }
    .navbar .nav-item .nav-link {
      text-transform: uppercase; }

#carousel-section .carousel-item {
  height: 450px; }
  #carousel-section .carousel-item h2 {
    color: #fff; }

#carousel-section .carousel-1 {
  background: url("../img/image1.jpeg");
  background-size: cover; }

#carousel-section .carousel-2 {
  background: url("../img/image2.jpeg");
  background-size: cover; }

#carousel-section .carousel-3 {
  background: url("../img/image3.jpeg");
  background-size: cover; }

#home-icon .fa {
  font-size: 50px; }

#get-started {
  position: relative;
  background: url("../img/people.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 250px; }
  #get-started .overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#home-video {
  position: relative;
  background: url("../img/bg1.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 250px; }
  #home-video .overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    #home-video .overlay .fa {
      font-size: 50px; }

#gallery img {
  min-height: 250px; }

#footer {
  background: #000; }
  #footer .lead {
    font-size: 1.25rem;
    font-weight: 300; }

#about-head {
  position: relative;
  background: url("../img/image1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 250px; }
  #about-head .over {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#about-info img {
  width: 350px;
  height: 350px; }

#icon-boxes .fa {
  font-size: 50px; }

#Testimonial .slick-next:before, #Testimonial .slick-prev:before {
  color: #000; }

#services-head-section {
  background: url("../img/image6.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 250px; }
  #services-head-section .overlay {
    min-height: 250px;
    background: rgba(0, 0, 0, 0.5); }

#faq h5 {
  cursor: pointer; }

#blog-head-section {
  background: url("../img/image5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 250px; }
  #blog-head-section .overlay {
    min-height: 250px;
    background: rgba(0, 0, 0, 0.5); }

#blog-post img {
  width: 1000px;
  height: 250px; }

#contact-head-section {
  background: url("../img/pc.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 250px; }
  #contact-head-section .overlay {
    min-height: 250px;
    background: rgba(0, 0, 0, 0.4); }

@media (max-width: 767px) {
  .navbar .nav-item {
    padding-left: 0em; } }

@media (max-width: 500px) {
  .carousel h2 {
    font-size: 2.5rem; } }

@media (max-width: 520px) {
  #get-started {
    min-height: 350px; } }

@media (max-width: 330px) {
  #get-started {
    min-height: 380px; }
  .carousel h2 {
    font-size: 2rem; } }
